.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-container:hover {
  /* width: 330px;
  height: 280px; */
  cursor: pointer;
}
.card-content{
  width: 331px;
}
.card-content:hover  {
  cursor: pointer;
}

.avatar{
  width: 36px;
  height: 36px;
}



@media (max-width: 992px) {
  .sidetab-container{
    display: none;
  }
  .sidetabIcon-container{
    display: block;
  }

}
@media (min-width: 992px) {
  .sidetab-container{
    display: block;
  }
  .sidetabIcon-container{
    display: none;
  }
}

/* @media (min-width: 992px) {
  .sidetab-container{
    display: block;
  }
} */
